@charset "utf-8";

img {
    padding: 2px;
    vertical-align: middle;
    minimal-width: 50px;
    minimal-height: 80px;
}

h2 {
    background: url('../images/header.png') no-repeat;
    padding: 5px;
}

h4 {
    clear: both;
}

ul {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;
    overflow: hidden;
}

ul.main {
    width: 400px;
}

blockquote > img {
    max-width: 100px;
    max-height: 100px;
}