body {
    background-image: url("hgst.png");
    line-height: 18px;
    font-family: Helvetica;
}

div.repository pre {
    background-color: #f9f9f9;
}

pre.files {
    float: right;
}

pre {
    font-family: consolas;
    font-size: 12px;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

pre:empty {
    display: none;
}

h1 {
    margin: 0;
    padding: 10px;
    font-weight: bold;
}

.f2 span.bold {
    color: #0d0;
}

.newdiff {
    display: inline-block;
    font-weight: bold;
}

hr:first-child {
    display: none;
}

hr {
    background-color: #bbb;
    height: 1px;
    border: 0;
}