body {
    line-height: 18px;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

.f9 {
    color: #333 !important;
}

body.f9.b9 {
    background-color: #F0EEF1;
}

div.content {
    padding: 18px;
    margin: 18px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #FFF;
    display: inline-block;
}

pre {
    background-color: #f9f9f9;
    font-family: consolas;
    font-size: 12px;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    vertical-align: top;
}

h2 {
    margin: 0;
    padding: 10px 0;
    font-weight: bold;
}

.f2 span.bold {
    color: #0d0;
}

.newdiff {
    display: inline-block;
    font-weight: bold;
}

hr:first-child {
    display: none;
}

hr {
    background-color: #bbb;
    height: 1px;
    border: 0;
}